<div class="card p-3">
  <div class="card-body" *ngIf="form">
    <form
      admin-form
      method="POST"
      enctype="multipart/form-data"
      [formGroup]="form"
    >
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Name"
          formControlName="name"
        />
      </div>
      <div class="mb-3">
        <label for="slug" class="form-label">Slug</label>
        <input
          type="text"
          class="form-control"
          id="slug"
          name="slug"
          placeholder="Slug"
          formControlName="slug"
        />
      </div>
      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="active"
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault"> Active </label>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          placeholder="Description"
          formControlName="description"
        />
        <p class="text-danger"></p>
      </div>

      <div class="mb-3">
        <label for="meta_title" class="form-label">Meta Title</label>
        <input
          type="text"
          class="form-control"
          id="meta_title"
          name="meta_title"
          placeholder="Meta Title"
          formControlName="meta_title"
        />
        <p class="text-danger"></p>
      </div>
      <div class="mb-3">
        <label for="meta_description" class="form-label"
          >Meta Description</label
        >
        <input
          type="text"
          class="form-control"
          id="meta_description"
          name="meta_description"
          placeholder="Meta Description"
          formControlName="meta_description"
        />
        <p class="text-danger"></p>
      </div>
      <div class="mb-3">
        <label for="meta_keywords" class="form-label">Meta Keywords</label>
        <input
          type="text"
          class="form-control"
          id="meta_keywords"
          name="meta_keywords"
          placeholder="Meta Keywords"
          formControlName="meta_keywords"
        />
        <p class="text-danger"></p>
      </div>
      <app-single-upload
        (fileUploadHandler)="_store.addImage($event)"
        [file]="formData?.image"
      ></app-single-upload>

      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeMe()"
        >
          Close
        </button>
        <button
          [disabled]="saveButtonDisabled"
          type="submit"
          class="btn {{ saveButtonClass }}"
          (click)="save()"
        >
          {{ saveButtonText }}
        </button>
      </div>
    </form>
  </div>
</div>
