<app-modal title="create category" [child]="child" (closeMeEvent)="close()" (confirmEvent)="save()">
  <ng-template #child>
    <div class="card p-3">
      <div class="card-body">
        <form method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Coupon Code</label>
            <input type="text" class="form-control" id="code" name="code" placeholder="Code">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Coupon Type</label>
            <select class="form-select" name="type">
              <option value="">Select</option>
              <option value="fixed">Fixed</option>
              <option value="percent">Percent</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Coupon Value</label>
            <input type="text" class="form-control" id="name" name="value" placeholder="Value">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Cart Value</label>
            <input type="text" class="form-control" id="cart_value" name="cart_value"
                   placeholder="Cart Value">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">No of times coupon can be used</label>
              <input type="text" class="form-control" id="usages" name="usages" placeholder="Usages">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Expiry Date</label>
              <input type="date" class="form-control" id="expires_at" name="expires_at">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Categories</label>
              <select class="form-select" multiple name="categories[]">
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Brands</label>
              <select class="form-select" multiple name="brands[]">
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</app-modal>
