<div class="modal show {{size}}" tabindex="-1" style="display: block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeMe()"></button>
      </div>
      <div class="modal-body">
        @if (body && body?.length) {
         <div [innerHTML]="body"></div>
        } @else {
          <ng-container *ngTemplateOutlet="child"></ng-container>
        }

        <ng-container *ngTemplateOutlet="template"></ng-container>

      </div>

      <div *ngIf="showFooter === true" class="modal-footer">
        <button class="btn btn-success" data-bs-dismiss="modal" (click)="confirm()">Ok</button>
        <button class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeMe()">Close</button>
      </div>
    </div>
  </div>
</div>

