<div class="modal show modal-xl" tabindex="-1" style="display: block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeMe()"></button>
      </div>
      <div class="modal-body">
        @if (body && body?.length) {
          {{ body }}
        } @else {
          <ng-container *ngTemplateOutlet="child"></ng-container>
        }

      </div>
    </div>
  </div>
</div>

