<app-modal [title]="title" [child]="child"
           (closeMeEvent)="close()">
  <ng-template #child>
    <div class="card p-3" *ngIf="formVm$ | async as vm">
      <div class="card-body" *ngIf="form">
        <form admin-form method="POST" id="admin-form"
              enctype="multipart/form-data" [formGroup]="form">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" formControlName="name">
            <p class="text-danger"></p>
          </div>
          <div class="mb-3">
            <label for="slug" class="form-label">Slug</label>
            <input type="text" class="form-control" id="slug" name="slug" placeholder="Slug" formControlName="slug">
            <p class="text-danger"></p>
          </div>

          <app-category-selector formControlName="parent_id" label="Parent" [disableGrandchildren]="true" ></app-category-selector>

          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" formControlName="active" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Active
            </label>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Description"
                   formControlName="description">
            <p class="text-danger"></p>
          </div>

          <div class="mb-3">
            <label for="meta_title" class="form-label">Meta Title</label>
            <input type="text" class="form-control" id="meta_title" name="meta_title" placeholder="Meta Title"
                   formControlName="meta_title">
            <p class="text-danger"></p>
          </div>
          <div class="mb-3">
            <label for="meta_description" class="form-label">Meta Description</label>
            <input type="text" class="form-control" id="meta_description" name="meta_description"
                   placeholder="Meta Description" formControlName="meta_description">
            <p class="text-danger"></p>
          </div>
          <div class="mb-3">
            <label for="meta_keywords" class="form-label">Meta Keywords</label>
            <input type="text" class="form-control" id="meta_keywords" name="meta_keywords" placeholder="Meta Keywords"
                   formControlName="meta_keywords">
            <p class="text-danger"></p>
          </div>
          <div class="mb-3" *ngIf="lookupVm$ | async as lookupVm">
            <label for="attributes" class="form-label">Attributes</label>
            <select class="form-control" id="attributes" name="attributes" multiple
                   formControlName="attributes">
                  <option *ngFor="let attribute of lookupVm.attributes" [value]="attribute.id">{{attribute.name}}</option>
                  </select>
            <p class="text-danger"></p>
          </div>
          <div>
            <label for="exampleInputEmail1" class="form-label">Upload Image</label>
          </div>
          <div class="upload-image flex-grow">
            <div *ngIf="_store.image$ | async as image" class="item" id="imgpreview">
              <img [src]="image" class="effect8" alt="">
            </div>
            <div id="upload-file" class="item up-load">
              <label class="uploadfile" for="myFile">
                                                        <span class="icon">
                                                            <i class="fa fa-upload"></i>
                                                        </span>
                <span class="body-text">Drop your images here or select <span
                  class="tf-color">click to browse</span></span>
                <input type="file" id="myFile" name="image" accept="image/*" formControlName="image"
                       (change)="_store.selectFile($event)">
              </label>
            </div>
          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeMe()">Close</button>
            <button [disabled]="saveButtonDisabled" type="submit" class="btn {{saveButtonClass}}"
                    (click)="save()">{{ saveButtonText }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</app-modal>
