<div *ngIf="vm$ | async as vm">
  <div *ngFor="let message of vm.messages">
    <div class="d-flex gap-3">
      <img
        style="width: 100px"
        [src]="message.user.image"
        alt="User Avatar"
        class="user-avatar"
      />
      <div class="flex-grow-1">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <a href="javscript:void(0)"
            ><h6 class="mb-0">{{ message.user.name }}</h6></a
          >
          <span class="comment-time">{{ message.created_at }}</span>
        </div>
        <span class="text-muted">{{ message.title }}</span>
        <p class="mb-2">{{ message.message }}</p>
      </div>
    </div>

    <div *ngIf="message.images" class="d-flex justify-content-between mt-3">
      <img
        style="width: 100px"
        *ngFor="let image of message.images"
        [src]="image"
      />
    </div>
  </div>

  <form *ngIf="!vm.loading" [formGroup]="form" class="mt-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Amount to refund</label
    >
    <div class="input-group mb-3">
      <span class="input-group-text">$</span>
      <input
        formControlName="amount"
        type="text"
        class="form-control"
        aria-label="Amount (to the nearest dollar)"
      />
    </div>

    <div class="form-check">
      <input
        formControlName="action"
        value="no_shipping"
        class="form-check-input"
        type="radio"
      />
      <label class="form-check-label" for="flexRadioDefault1">
        Do not refund Shipping
      </label>
    </div>
    <div class="form-check">
      <input
        formControlName="action"
        value="full_amount"
        class="form-check-input"
        type="radio"
        checked
      />
      <label class="form-check-label" for="flexRadioDefault2">
        Full Amount including shipping
      </label>
    </div>

    <div class="form-check">
      <input
        formControlName="action"
        value="partial_amount"
        class="form-check-input"
        type="radio"
        checked
      />
      <label class="form-check-label" for="flexRadioDefault2">
        Partial amount only
      </label>
    </div>

    <div class="form-check">
      <input
        formControlName="action"
        value="return"
        class="form-check-input"
        type="radio"
        checked
      />
      <label class="form-check-label" for="flexRadioDefault2">
        User must return items
      </label>
    </div>
  </form>

  <div class="modal-footer">
        <button
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeMe()"
        >
          Close
        </button>
        <button
          type="submit"
          class="btn btn-danger"
          (click)="save()"
        >
          Refund
        </button>
      </div>
</div>
