<ng-container *ngIf="vm$ | async as vm">
    <div class="card" *ngIf="vm.data.balance_activated">
        <div class="card-header">
          <h5 class="card-title">Balance</h5>
        </div>
    
        <div class="card-body">
          <div class="d-flex justify-content-center overlay" *ngIf="vm.loading">
            <div
              class="spinner-border"
              role="status"
              style="width: 6rem; height: 6rem"
            >
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <ng-container *ngIf="!vm.loading">
            <h3>{{ vm.balance?.current?.balance | currency }}</h3>
    
            <form [formGroup]="form">
              <div class="mb-3">
                <label class="form-label">Amount to withdraw</label>
                <input
                  type="text"
                  class="form-control"
                  id="amount"
                  name="amount"
                  formControlName="amount"
                />
              </div>
            </form>
          </ng-container>
        </div>
    
        <div class="card-footer text-end">
          <button class="btn btn-primary" (click)="withdraw()">Withdraw</button>
        </div>
      </div>
    
      <div class="card" *ngIf="!vm.data.balance_activated">
        <div class="card-header">
          <h5 class="card-title">Balance</h5>
        </div>
    
        <div class="card-body">
          <button class="btn btn-primary btn-block" (click)="activateBalance()">
            Activate Balance
          </button>
        </div>
      </div>
</ng-container>

<div class="modal" tabindex="-1" #activateBalanceModal id="testModal">...</div>

<ng-template #activateBalanceModalForm>
  <form
    method="post"
    admin-form
    enctype="multipart/form-data"
    [formGroup]="activateBalanceForm"
  >
    <div class="form-group mb-3">
      <label for="inputAddress">Name on Account</label>
      <input
        type="text"
        class="form-control"
        id="account_holders_name"
        name="account_holders_name"
        formControlName="account_holders_name"
      />
    </div>

    <div class="form-group mb-3">
      <label for="inputAddress">Date of Birth</label>
      <input
        type="date"
        class="form-control"
        id="date_of_birth"
        name="date_of_birth"
        formControlName="date_of_birth"
      />
    </div>

    <div class="form-group mb-3">
      <label for="inputAddress">Address</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        name="address1"
        placeholder="1234 Main St"
        formControlName="address1"
      />
    </div>
    <div class="form-group mb-3">
      <label for="inputAddress2">Address 2</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress2"
        name="address2"
        placeholder="Apartment, studio, or floor"
        formControlName="address2"
      />
    </div>
    <div class="row mb-3">
      <div class="form-group col-lg-4">
        <label for="city">City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          name="city"
          formControlName="city"
        />
      </div>
      <div class="form-group col-lg-4 mb-3">
        <label for="state">State</label>
        <input
          type="text"
          class="form-control"
          id="state"
          name="state"
          formControlName="state"
        />
      </div>
      <div class="form-group col-lg-3 mb-3">
        <label for="inputZip">Zip</label>
        <input
          type="text"
          class="form-control"
          id="inputZip"
          name="zip"
          formControlName="zip"
        />
      </div>
    </div>
  </form>
</ng-template>
