<ng-container *ngIf="vm$ | async as vm">
    <div class="card" *ngIf="vm.data.balance_activated">
        <div class="card-header">
          <h5 class="card-title">Balance</h5>
        </div>
    
        <div class="card-body">
          <div class="d-flex justify-content-center overlay" *ngIf="vm.loading">
            <div
              class="spinner-border"
              role="status"
              style="width: 6rem; height: 6rem"
            >
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <ng-container *ngIf="!vm.loading">
            <h3>{{ vm.balance?.current?.balance | currency }}</h3>
    
            <form [formGroup]="form">
              <div class="mb-3">
                <label class="form-label">Amount to withdraw</label>
                <input
                  type="text"
                  class="form-control"
                  id="amount"
                  name="amount"
                  formControlName="amount"
                />
              </div>
            </form>
          </ng-container>
        </div>
    
        <div class="card-footer text-end">
          <button class="btn btn-primary" (click)="withdraw()">Withdraw</button>
        </div>
      </div>
    
      <div class="card" *ngIf="!vm.data.balance_activated">
        <div class="card-header">
          <h5 class="card-title">Balance</h5>
        </div>
    
        <div class="card-body">
          <button class="btn btn-primary btn-block" (click)="activateBalance()">
            Activate Balance
          </button>
        </div>
      </div>
</ng-container>
