<div class="container py-5 bg-white">
  <app-ui-side-menu>
    <app-ui-tab-item
      tabName="Balance"
      [templateRef]="balance"
    ></app-ui-tab-item>
    <app-ui-tab-item
      tabName="History"
      [templateRef]="history"
    ></app-ui-tab-item>
    <app-ui-tab-item
      tabName="Invoices"
      [templateRef]="invoices"
    ></app-ui-tab-item>
  </app-ui-side-menu>

  <ng-template #balance>
    <app-balance></app-balance>
    <app-withdrawals></app-withdrawals>
  </ng-template>

  <ng-template #history> <app-transactions></app-transactions></ng-template>

  <ng-template #invoices> Coming soon </ng-template>
</div>
