<ng-container *ngIf="vm$ | async as vm">
  <app-table (addButton)="add($event)" [indexColumn]="false" headerTitle="Slides" (reload)="reload()"
             [sortBy]="vm.filter.sortBy" [sortAsc]="vm.filter.sortAsc"
             [itemCount]="vm.data.total" [items]="vm.data.data"
             (changePage)="pageChanged($event)" [page]="vm.filter.page">
    <data-table-column header="#" property="id" [sortable]="true"></data-table-column>
    <data-table-column header="Image" property="image" [sortable]="true">
      <ng-template #dataTableCell let-item="item">
        <div class="d-flex align-items-center justify-content-between me-3">
          <img style="width: 100px" src="{{item.image}}" alt="{{item.title}}" class="image">
        </div>
      </ng-template>
    </data-table-column>
    <data-table-column header="Tags" property="tags" [sortable]="true"></data-table-column>
    <data-table-column header="Title" property="title" [sortable]="true"></data-table-column>
    <data-table-column header="Subtitle" property="subtitle" [sortable]="true"></data-table-column>
    <data-table-column header="Link" property="link" [sortable]="true">
      <ng-template #dataTableCell let-item="item">
        <a href="{{item.link}}" target="_blank">{{ item.link_text }}</a>
      </ng-template>
    </data-table-column>
    <data-table-column header="Action" [sortable]="false">
      <ng-template #dataTableCell let-item="item">
        <div class="d-flex align-items-center">
          <a href="javascript:void(0)" class="edit me-3" (click)="edit(item)">
            <i class="fa fa-eye"></i>
          </a>
          <a href="javascript:void(0)" class="delete" (click)="delete(item)">
            <i class="fa fa-trash"></i>
          </a>
        </div>
      </ng-template>
    </data-table-column>
  </app-table>
</ng-container>

<div #confirmationModal></div>

<div #modal></div>
