<ng-container *ngIf="vm$ | async as vm">
  <div class="card mt-3">
    <div class="card-header">
      <h5 class="card-title">Withdrawals</h5>
    </div>

    <div class="card-body">
      <div class="d-flex justify-content-center overlay" *ngIf="vm.loading">
        <div
          class="spinner-border"
          role="status"
          style="width: 6rem; height: 6rem"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div style="height: 400px; overflow-y: auto">
        <ul class="list-group" *ngIf="!vm.loading">
          <li
            *ngFor="let withdrawal of vm.withdrawals"
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <span>{{ withdrawal.created_at | date }}</span>
            <span class="">{{ withdrawal.amount }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>
