<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
  <a href="/resources/frontend/admin/public" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-5 d-none d-sm-inline">Shop Pinoy</span>
  </a>
  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
    <li>
      <a href="#" class="nav-link px-0 align-middle" routerLink="/">
        <i class="fs-4 fa-people"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
    </li>
    <li>
      <a href="#" class="nav-link px-0 align-middle" routerLink="products">
        <i class="fs-4 fa-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Products</span></a>
    </li>
    <li>
      <a href="#" class="nav-link px-0 align-middle" routerLink="brands">
        <i class="text-white fs-4 fa fa-grid"></i> <span class="ms-1 d-none d-sm-inline">Brands</span> </a>
    </li>

    <li>
      <a href="#" class="nav-link px-0 align-middle" routerLink="categories">
        <i class="fs-4 fa-grid"></i> <span class="ms-1 d-none d-sm-inline">Categories</span> </a>
    </li>

    <li>
      <a href="#" class="nav-link px-0 align-middle" routerLink="coupons">
        <i class="fs-4 fa-grid"></i> <span class="ms-1 d-none d-sm-inline">Coupons</span> </a>
    </li>

    <li>
      <a href="#" class="nav-link px-0 align-middle" routerLink="orders">
        <i class="fs-4 fa-people"></i> <span class="ms-1 d-none d-sm-inline">Orders</span> </a>
    </li>

    <li>
      <a href="#" class="nav-link px-0 align-middle" routerLink="attributes">
        <i class="fs-4 fa-grid"></i> <span class="ms-1 d-none d-sm-inline">Attributes</span> </a>
    </li>

    <li>
      <a href="#" class="nav-link px-0 align-middle" routerLink="attribute-values">
        <i class="fs-4 fa-grid"></i> <span class="ms-1 d-none d-sm-inline">Attribute Values</span> </a>
    </li>

    <li>
      <a href="#" class="nav-link px-0 align-middle" routerLink="slides">
        <i class="fs-4 fa-grid"></i> <span class="ms-1 d-none d-sm-inline">Slides</span> </a>
    </li>

    <li>
      <a href="#" class="nav-link px-0 align-middle" routerLink="users">
        <i class="fs-4 fa-grid"></i> <span class="ms-1 d-none d-sm-inline">Users</span> </a>
    </li>

    <li>
      <a href="#" class="nav-link px-0 align-middle" routerLink="settings">
        <i class="fs-4 fa-grid"></i> <span class="ms-1 d-none d-sm-inline">Settings</span> </a>
    </li>

    <li>
      <a href="#" class="nav-link px-0 align-middle" routerLink="messages">
        <i class="fs-4 fa-grid"></i> <span class="ms-1 d-none d-sm-inline">Messages</span> </a>
    </li>
  </ul>
</div>

