<div class="card p-3">
  <div class="card-body" *ngIf="form">
    <form admin-form class="form-horizontal" method="post" [formGroup]="form">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Name"
          formControlName="name"
        />
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Slug</label>
        <input
          type="text"
          class="form-control"
          id="slug"
          name="slug"
          placeholder="Slug"
          formControlName="slug"
        />
      </div>

      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeMe()"
        >
          Close
        </button>
        <button
          [disabled]="saveButtonDisabled"
          type="submit"
          class="btn {{ saveButtonClass }}"
          (click)="save()"
        >
          {{ saveButtonText }}
        </button>
      </div>
    </form>
  </div>
</div>
