<ng-container *ngIf="vm$ | async as vm">
  <app-table
    [indexColumn]="false"
    headerTitle="Orders"
    (reload)="reload()"
    [sortBy]="vm.filter?.sortBy"
    [sortDir]="vm.filter?.sortDir"
    [searchText]="vm.filter?.searchText"
    [itemCount]="vm.data?.total"
    [items]="vm.data?.data"
    (changePage)="pageChanged($event)"
    [page]="vm.filter?.page"
  >
    <ng-template #filterBar>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item" *ngFor="let enum of OrderStatusEnum | keyvalue">
          <a
            [class.active]="currentTab === enum.value"
            class="nav-link"
            aria-current="page"
            href="javascript:void(0)"
            (click)="filterChanged('status', enum.value)"
            >{{ enum.key }}</a
          >
        </li>
      </ul>
    </ng-template>

    <data-table-column
      header="#"
      property="id"
      [sortable]="true"
    ></data-table-column>
    <data-table-column header="Customer" [sortable]="false">
      <ng-template #dataTableCell let-item="item">
        <div class="d-flex align-items-center justify-content-between me-3">
          <img
            style="width: 100px"
            src="{{ item.customer.image }}"
            alt="{{ item.customer.name }}"
            class="image"
          />
          <div class="">
            <a href="#" class="fw-bold">{{ item.customer.name }}</a>
          </div>
        </div>
      </ng-template>
    </data-table-column>
    <!--    <data-table-column header="Subtotal" property="subtotal" [sortable]="true"></data-table-column>-->
    <!--    <data-table-column header="Shipping" property="shipping" [sortable]="true"></data-table-column>-->
    <!--    <data-table-column header="Commission" property="commission" [sortable]="true"></data-table-column>-->
    <!--    <data-table-column header="Tax" property="tax" [sortable]="true"></data-table-column>-->
    <data-table-column
      header="Total"
      property="total"
      [sortable]="true"
    ></data-table-column>
    <data-table-column header="Status" property="status" [sortable]="true">
      <ng-template #dataTableCell let-item="item">
        @if(item.status.toLowerCase() === 'complete') {
        <span class="badge fs-xs text-success bg-success-subtle rounded-pill"
          >Completed</span
        >
        } @else if (item.status.toLowerCase() === 'ordered') {
        <span class="badge fs-xs text-info bg-info-subtle rounded-pill"
          >Pending</span
        >
        } @else if (item.status.toLowerCase() === 'cancelled') {
        <span class="badge fs-xs text-danger bg-danger-subtle rounded-pill"
          >Canceled</span
        >
        } @else {
        <span class="badge fs-xs text-success bg-success-subtle rounded-pill">{{
          item.status
        }}</span>
        }

        @if(orderHasIssue(item)) {
          <i class="text-danger fa-solid fa-flag ms-3" title="An issue has been reported with this order"></i>
        }
      </ng-template>
    </data-table-column>
    <data-table-column
      header="Order Date"
      property="order_date"
      [sortable]="true"
    >
      <ng-template #dataTableCell let-item="item">
        {{ item.order_date | date }}
      </ng-template>
    </data-table-column>
    <data-table-column
      header="No of Items"
      property="number_of_items"
      [sortable]="true"
    ></data-table-column>
    <data-table-column
      header="Delivered Date"
      property="delivered_date"
      [sortable]="true"
    >
      <ng-template #dataTableCell let-item="item">
        {{ item.delivered_date | date }}
      </ng-template>
    </data-table-column>
    <data-table-column
      header="Cancelled Date"
      property="cancelled_date"
      [sortable]="true"
    >
      <ng-template #dataTableCell let-item="item">
        {{ item.cancelled_date | date }}
      </ng-template>
    </data-table-column>
    <data-table-column header="Action" [sortable]="false">
      <ng-template #dataTableCell let-item="item">
        <div class="dropdown">
          <button
            type="button"
            class="btn btn-icon btn-ghost rounded-circle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            aria-label="Settings"
          >
            <i
              style="font-size: 22px"
              class="fa-solid fa-ellipsis-vertical"
            ></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a
                class="dropdown-item"
                href="javascript:void(0)"
                [routerLink]="['details', item.id]"
              >
                <i class="fa fa-eye opacity-75 me-2"></i>
                View Details
              </a>
            </li>
          </ul>
        </div>
      </ng-template>
    </data-table-column>
  </app-table>
</ng-container>
