<ng-container *ngIf="vm$ | async as vm">
  <app-table
    (addButton)="add($event)"
    [indexColumn]="false"
    headerTitle="Couriers"
    (reload)="reload()"
    [sortBy]="vm.filter?.sortBy"
    [sortDir]="vm.filter?.sortDir"
    [itemCount]="vm.data?.total"
    [items]="vm.data?.data"
    [searchText]="vm.filter?.searchText"
    (changePage)="pageChanged($event)"
    [page]="vm.filter?.page"
  >
    <ng-template #filterBar>
      <select
      (change)="filterSelectChanged($event)"
        class="form-control"
        name="country_id"
        *ngIf="lookupVm$ | async as lookUpVm"
      >
        <option value="">Select Country</option>
        <option *ngFor="let country of lookUpVm.countries" [value]="country.id">
          {{ country.name }}
        </option>
      </select>
    </ng-template>
    <data-table-column
      header="#"
      property="id"
      [sortable]="true"
    ></data-table-column>
    <data-table-column
      header="Name"
      property="name"
      [sortable]="true"
    ></data-table-column>
    <data-table-column header="Country" property="country" [sortable]="true"
      ><ng-template #dataTableCell let-item="item">{{
        item.country?.name
      }}</ng-template></data-table-column
    >

    <data-table-column header="Action" [sortable]="false">
      <ng-template #dataTableCell let-item="item">
        <div class="dropdown">
          <button
            type="button"
            class="btn btn-icon btn-ghost rounded-circle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            aria-label="Settings"
          >
            <i
              style="font-size: 22px"
              class="fa-solid fa-ellipsis-vertical"
            ></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a
                class="dropdown-item"
                href="javascript:void(0)"
                (click)="edit(item)"
              >
                <i class="fa fa-edit opacity-75 me-2"></i>
                Edit
              </a>
            </li>
            <li>
              <a
                class="dropdown-item text-danger"
                href="javascript:void(0)"
                (click)="delete(item)"
              >
                <i class="fa fa-trash opacity-75 me-2"></i>
                Delete
              </a>
            </li>
          </ul>
        </div>
      </ng-template>
    </data-table-column>
  </app-table>
</ng-container>

<div #confirmationModal></div>

<div #modal></div>
