<form [formGroup]="form" *ngIf="vm$ | async as vm">
  <div class="vstack gap-4 pt-sm-1">
    @for (option of vm.notification_types; track option.id) {
    <div class="form-check form-switch mb-0">
      <input
        type="checkbox"
        class="form-check-input"
        id="product-sold"
        checked=""
        [formControlName]="option.id"
      />
      <label class="form-check-label ps-2" for="product-sold">
        <span class="d-block h6 mb-2">{{ option.name }}</span>
        <span class="fs-sm">{{ option.description }}</span>
      </label>
    </div>
    }
  </div>

  <button type="submit" class="btn btn-primary mt-5" (click)="submitForm()">Save Preferences</button>
</form>
