<div class="container py-5 bg-white">
  <app-ui-side-menu>
    <app-ui-tab-item
      tabName="Profile"
      [templateRef]="settings"
    ></app-ui-tab-item>
    <app-ui-tab-item
      tabName="Account Settings"
      [templateRef]="security"
    ></app-ui-tab-item>
    <app-ui-tab-item
      tabName="Payments"
      [templateRef]="payments"
    ></app-ui-tab-item>
    <app-ui-tab-item
      tabName="Billing Information"
      [templateRef]="billing"
    ></app-ui-tab-item>
    <app-ui-tab-item
      tabName="Notifications"
      [templateRef]="notifications"
    ></app-ui-tab-item>
  </app-ui-side-menu>

  <ng-template #settings>
    <app-shop-details></app-shop-details>
  </ng-template>

  <ng-template #security> <app-security></app-security> </ng-template>

  <ng-template #billing> <app-billing></app-billing> </ng-template>

  <ng-template #payments>
    <app-card-details></app-card-details>
    <app-bank-details></app-bank-details>
  </ng-template>

  <ng-template #notifications>
    <app-notifications></app-notifications>
  </ng-template>
</div>
