<ng-container *ngIf="vm$ | async as vm">
  <app-table (addButton)="add($event)" [indexColumn]="false" headerTitle="Products" (reload)="reload()" [sortBy]="sortBy" [sortAsc]="sortAsc"
             [itemCount]="vm.data.totalCount" [items]="vm.data.data"
             (changePage)="pageChanged($event)">
    <data-table-column header="#" property="id" [sortable]="true"></data-table-column>
    <data-table-column header="Name" property="name" [sortable]="true">
      <ng-template #dataTableCell let-item="item">
        <div class="d-flex align-items-center justify-content-between me-3">
          <img src="{{item.image}}" alt="{{item.name}}" class="image">
          <div class="">
            <a href="#" class="fw-bold">{{ item.name }}</a>
          </div>
        </div>
      </ng-template>
    </data-table-column>
    <data-table-column header="Regular Price" property="regular_price" [sortable]="true"></data-table-column>
    <data-table-column header="Sale Price" property="sale_price" [sortable]="true"></data-table-column>
    <data-table-column header="SKU" property="SKU" [sortable]="true"></data-table-column>
    <data-table-column header="Slug" property="slug" [sortable]="true"></data-table-column>
    <data-table-column header="Category" [sortable]="false">
      <ng-template #dataTableCell let-item="item">
       {{item.category.name}}
      </ng-template>
    </data-table-column>
    <data-table-column header="Brand" [sortable]="false">
      <ng-template #dataTableCell let-item="item">
        {{item.brand.name}}
      </ng-template>
    </data-table-column>
    <data-table-column header="Featured" [sortable]="false">
      <ng-template #dataTableCell let-item="item">
        {{item.featured === true ? 'Yes' : 'No'}}
      </ng-template>
    </data-table-column>
    <data-table-column header="In Stock" [sortable]="false">
      <ng-template #dataTableCell let-item="item">
       {{item.has_stock === true ? 'Yes' : 'No'}}
      </ng-template>
    </data-table-column>
    <data-table-column header="Quantity" property="quantity" [sortable]="true"></data-table-column>
    <data-table-column header="Action" [sortable]="false">
      <ng-template #dataTableCell let-item="item">
        <div class="d-flex align-items-center justify-content-between">
          <a href="javascript:void(0)" class="edit" (click)="edit(item)">
            <i class="fa fa-eye"></i>
          </a>
          <a href="javascript:void(0)" class="delete" (click)="delete(item)">
            <i class="fa fa-trash"></i>
          </a>
        </div>
      </ng-template>
    </data-table-column>
  </app-table>
</ng-container>


<!--<div class="py-4">-->
<!--  <h3>Products</h3>-->
<!--</div>-->
<!--<div class="card py-2 mb-3">-->
<!--  <div class="card-body">-->
<!--    <div class="d-flex justify-content-between align-items-center">-->
<!--      <div>-->
<!--        <div class="input-group">-->
<!--          <input class="form-control border-end-0 border" type="search" placeholder="Search"-->
<!--                 id="example-search-input">-->
<!--          <span class="input-group-append">-->
<!--                    <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5"-->
<!--                            type="button">-->
<!--                        <i class="fa fa-search"></i>-->
<!--                    </button>-->
<!--                </span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <a href="#" class="btn btn-primary add"  (click)="add($event)">Add New Product</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="card p-3">-->
<!--  <div class="card-body">-->

<!--    <div class="table-responsive">-->
<!--      <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped">-->
<!--      </table>-->
<!--    </div>-->

<!--    <div class="divider"></div>-->
<!--  </div>-->
<!--</div>-->

<div #confirmationModal></div>

<div #modal></div>
