<form [formGroup]="form" *ngIf="vm$ | async as vm">
  <ng-container *ngIf="!vm.loading">
    <div class="d-flex align-items-center justify-content-between">
      <div class="col-lg-3">
        <select formControlName="country_id" class="form-control">
          <option value="">Select Country</option>
          <option *ngFor="let country of vm.countries" [value]="country.id">
            {{ country.name }}
          </option>
        </select>
      </div>

      <button
        type="button"
        (click)="addMethod()"
        class="btn btn-primary btn-topic"
      >
        Add Method
      </button>
    </div>
    <div class="mcqsection">
      <div formArrayName="methods">
        <div
          *ngFor="
            let methodControl of getMethodControls().controls;
            let methodIndex = index
          "
          [formGroupName]="methodIndex"
          class="topic border-bottom border-secondary pb-3 pt-3"
        >
          <!--        <h3>Topic {{ methodIndex + 1 }}</h3>-->

          <div class="form-group">
            <div class="d-flex justify-content-between">
              <div>
                <select class="form-control" id="name" formControlName="name">
                  <option value="">Package Size</option>
                  <option
                    *ngFor="let featured of PackageSizeEnum | keyvalue"
                    value="{{ featured.key }}"
                  >
                    {{ featured.value }}
                  </option>
                </select>
              </div>

              <div>
                <select
                  class="form-control"
                  id="courier_id"
                  formControlName="courier_id"
                >
                  <option value="">Courier</option>
                  <option
                    *ngFor="let courier of vm.couriers"
                    [value]="courier.id"
                  >
                    {{ courier.name }}
                  </option>
                </select>
              </div>

              <div>
                <input
                  class="form-control"
                  type="text"
                  formControlName="price"
                  placeholder="Price"
                />
              </div>

              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="exampleCheck1"
                  formControlName="tracking"
                />
                <label class="form-check-label" for="exampleCheck1"
                  >Allow tracking</label
                >
              </div>

              <div>
                <i
                  (click)="removeMethod(methodIndex)"
                  class="fa fa-trash text-danger mt-3"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="d-flex justify-content-center overlay" *ngIf="vm.loading">
    <div class="spinner-border" role="status" style="width: 6rem; height: 6rem">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-secondary"
      data-bs-dismiss="modal"
      (click)="closeMe()"
    >
      Close
    </button>
    <button
      [disabled]="saveButtonDisabled"
      type="submit"
      class="btn {{ saveButtonClass }}"
      (click)="onSubmit()"
    >
      {{ saveButtonText }}
    </button>
  </div>
</form>
