.validationTextStyle {
  line-height: 0px !important;
  font-size: small !important;
  color: #ff0000c7 !important;
  text-align: start !important;
  margin-top: -1.2rem;
}

.validationIconStyle {
  font-size: 135% !important;
  transform: translateY(3px) !important;
  color: #ff0000ad !important;
}
