.toast {
  width: 350px;
  max-width: 100%;
  font-size: .875rem;
  pointer-events: auto;
  background-color: rgba(255, 255, 255, .85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  border-radius: .25rem;
}

//.toast {
//  border-radius: 5px;
//  max-width: 80vw;
//  display: flex;
//  flex-wrap: nowrap;
//  align-items: center;
//  justify-content: space-between;
//  background-color: #263238;
//  color: #fff;
//  position: fixed;
//  bottom: 10px;
//  left: 10px;
//  font-size: 90%;
//  z-index: 5100;
//}
//.text {
//  padding: 20px;
//  flex-basis: 100%;
//  margin-right: 10px;
//}
//
//button {
//  padding: 20px;
//  cursor: pointer;
//  font-weight: bold;
//  color: inherit;
//}
