<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<gr-toast></gr-toast>

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <app-sidemenu></app-sidemenu>
    </div>
    <!-- Main Content -->
    <div class="col-md-9">
      <app-topbar></app-topbar>
      <div class="p-4">
        <div class="row">
          <router-outlet/>
        </div>
      </div>
    </div>
  </div>
</div>
