.modal-container{
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container{
  display: flex;
}
button{
  margin: 5px;
}


.upload-image {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
;
  gap: 10px;
}

.upload-image .item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--Input);
}

.upload-image .item img {
  height: 206px;
}

.upload-image .item.up-load {
  min-height: 208px;
  border: 1px dashed var(--Main);
}

.upload-image .uploadfile {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.upload-image .uploadfile .icon {
  font-size: 40px;
  color: var(--Main);
}

.upload-image .uploadfile input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.invalid-feedback {
  display: block !important;
}
